#container{
	margin: 100px auto;
	width:360px;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.done{
	text-decoration: line-through;
	color: gray;
}
h1{
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
body{
	font-family: Roboto;
	background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
li{
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}
input{
	font-size: 18px;
	width: 100%;
	background: #f7f7f7;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
	/*By default, the width and height of an element is calculated like this:

width + padding + border = actual width of an element
height + padding + border = actual height of an element

This means: When you set the width/height of an element, the element often appear
 bigger than you have set (because the element's border and padding are added to the element's
specified width/height).*/
}
span{
	background: #e74c3c;
	margin-right: 20px;
	height: 40px;
	width: 0;
	display: inline-block;
	text-align: center;
	color: white;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span{
width: 40px;
opacity: 1.0;
}
input:focus{
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}
li:nth-of-type(2n){
background: #f7f7f7;
}
.fa-plus{
	float: right;
}